# This is a basic workflow to help you get started with Actions

name: get-file-content-from-user-pipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      filename:
        description: 'The name of the file'
        required: true
        type: string
      content:
        description: 'The content of the file'
        required: true
        type: string

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: create folder named file-content-from-user and create file with the content by getting from the user as input and write the content to the file,only for the file name keep the condition as set the file name as the input from the user if the total characters are less than 10, keep that else keep default file name as content.txt 
        run: |
          mkdir file-content-from-user && cd file-content-from-user && echo "${{ inputs.content }}" > ${{ inputs.filename }}
        shell: bash  

      - name: Verify file creation (optional)
        run: |
          echo "Created file: ${{ inputs.filename }}" && cat ${{ inputs.filename }}  
      
      - name : Upload build artifact the name should be the file name which is created in the above step and the path should be the path of the file which is created in the above step
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.filename }}       
          path: file-content-from-user/${{ inputs.filename }}
          retention-days: 7