name: Two stage Build deploy

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
    environment:
      description: 'Deployment Environment'
      required: true
      type: choice
      options:
       - dev
       - uat
       - prod

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    
    - name: Build Calculator
      run: mvn clean compile
  
    - name: Build JAR
      run: mvn package -DskipTests
    
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: calculator-jar
        path: target/*.jar

  deploytodev:
    runs-on: ubuntu-latest
    needs: build      
    name: Deploy to ${{inputs.environment}} environment
    environment: dev
    
    strategy:
      matrix:
        java-version: [17]

    steps:
      - name: echo environment and java version
        run: echo "Deploying to ${{ inputs.environment }} environment with Java ${{ matrix.java-version }}"

  deploytouat:
    runs-on: ubuntu-latest
    needs: build      
    name: Deploy to ${{inputs.environment}} environment
    environment: uat
    
    strategy:
      matrix:
        java-version: [17]

    steps:
      - name: echo environment and java version
        run: echo "Deploying to ${{ inputs.environment }} environment with Java ${{ matrix.java-version }}"

  deploytoprod:
    runs-on: ubuntu-latest
    needs: build      
    name: Deploy to ${{inputs.environment}} environment
    environment: prod
    
    strategy:
      matrix:
        java-version: [17]

    steps:
      - name: echo environment and java version
        run: echo "Deploying to ${{ inputs.environment }} environment with Java ${{ matrix.java-version }}"             

